<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="TokenVapVupt" value=""/>
    <add key="clientId" value="db9a7cff-3657-4800-9ab8-980266d65b11"/>
    <add key="clientSecret" value=""/>
    <add key="CnpjLoja" value=""/>
    <add key="TipoDatabase" value="1"/>
    <add key="Loja" value="1"/>
    <add key="Pdv" value="1"/>
    <add key="Vendedor" value="43"/>
    <add key="AuthorizationCode" value="HGLZ-XVBV"/>
    <add key="AuthorizationCodeVerifier" value=""/>
    <add key="MerchantId" value=""/>
    <add key="TipoAplicativoIfood" value="1"/>
    <add key="MonitoraDelivey" value="1"/>
    <add key="MonitoraRetira" value="1"/>
    <add key="ImprimeGestor" value="1"/>
    <add key="TipoDescricao" value="1"/>
    <add key="NotificacaoSonoro" value="1"/>
    <add key="AutoConfirmar" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="MyContext" connectionString="Data Source=192.168.1.51; Initial Catalog=segredo; user id=sa; password=alex3103;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
